<p>
  <h1>痩せるか、精進するか、どちらかしか道は無い</h1>
  <h1>食いたければ精進せよ</h1>
  <br>
  <p>
    <h2>掟</h2>
    摂取可能カロリーは「最低保証2000 + ACした問題の点数の合計」kcal<br>
    同日に同じ問題を何度解いても1回分しか加算されない<br>
    AHCの問題は一律で300点とする<br>
    日付の基準は日本時間<br>
  </p>
</p>
